

header{
    background-color: #1F2937;
    color: rgb(255, 255, 255);
    padding: 20px 0px;
    height: 400px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    
}

.header div{
    flex: 1;
}

.header .logo{
    flex:5;
    font: 24px bold;
    margin-left: 50px;

}
.greeting .right_msg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 500px;
    height: 200px;
    margin-right: 70px;
    
}

.greeting{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
   margin: 60px 200px;
}

#greeting_img{
    display: flex;
    width: 400px;
    height: 240px;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 30px;
   
}

button{
    width: 130px;
    height: 38px;
    background-color:#3882F6;
    color: white;
    font-size: 16px;
    border-radius: 8px;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    margin: 2px 0px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#photo{
    border-color:#3882F6;
    border-style: solid;
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 16px;

}
.text{
    margin: 90px;
    display: flex;
    flex-direction: column;
}

.text .description, .text .photos{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap:inherit;

}
.description div{
   /* margin: 20px 50px 100px 80px;*/
    width: 100px;
}
article{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    padding: 80px 250px;
    font-style: italic;
}

article .cite{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.window{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.sign_up{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    width: 1100px;
    border-radius: 12px;
    height: 120px;
    background-color:#217adf;

}
.msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    color: white;
}
.msg h2{
    margin-bottom: 0px;
}

.msg p{
    margin-top: 0px;
}
button.btn_sign{
border-color: white;
border-style: groove;
border-width: 3px;
border-radius: 6px;

}

footer{
    display: flex;
    background-color: #1F2937;
    height: 60px;
    text-align: center;
    justify-content: center;
    color: white;
    
}